<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Demonstrates the creation and  provisioning of a web_server based on a chef role named &apos;web_server&apos;.&#xd;
The web_server role represents an enterprise configuration of a web server using corporate standards.&#xd;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>// upload the role

knife role from file roles/web_server.rb

# Get the ip of the server if it exists
vca login  appstech@websterx.com --password ${VCA_PASSWORD} --instance &apos;97453e02-e83c-4cae-bbe9-3f7ee6dd8401&apos; 
vca vdc use --vdc DevOps-VDC

export IP=`vca vm -a $VAPP_NAME | grep $VM_NAME | cut -d &apos;|&apos; -f5 | tr -d &apos;[[:space:]]&apos;` &amp;&amp; echo $IP

# If it exists run bootstrap
knife bootstrap ${IP} -x ubuntu --sudo  --no-host-key-verify

# Create a new Ubuntu VM
knife vcair server create -V -V \
  --image &quot;Ubuntu Server 12.04 LTS (amd64 20150127)&quot; \
  --customization-script ./add_public_ssh_key.sh \
  --cpus 2 \
  --memory 4096 \
  --node-name knifevcair \
  --vcair-net &quot;default-routed-network&quot; \
  --ssh-user ubuntu \
  --ssh-password welcome1 \
  --server-url &quot;https://192.168.109.3/organizations/chef&quot; \
  --no-host-key-verify 

# Assign the role to the Server
knife exec -E &apos;nodes.transform(&quot;name:klinuxsp&quot;) {|n| n.run_list([&quot;role[web_server]&quot;])}&apos;

# Run the chef client
knife ssh 192.168.109.8 &apos;sudo chef-client&apos; --manual-list --ssh-user ubuntu

# create a port mapping to the app 
sudo /home/ubuntu/vcadevops/scenarios/jenkins/add_iptable_nat.sh 8900 ${SERVER_IP} 80



# Test web server at url
echo &quot;http://devops.vcair.us:8900&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@1.92.1">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>VCA_PASSWORD</name>
          <value>EKvLs32P7c4qvfTpgrv8mxcTFP3XIRlUtDxD/WKvR6M=</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>