
eval "$(chef shell-init bash)"
# for jenkins jobs
export VCA_USER='vcadevops@gmail.com'
export VCA_PASSWORD='vca4$DEVOPS'
export SSHPASS='vca4devops'

# for chef knife
export VCAIR_API_URL='p3v10-vcd.vchs.vmware.com'
export VCAIR_USERNAME='vcadevops@gmail.com'
export VCAIR_PASSWORD='vca4$DEVOPS'
export VCAIR_ORG=M933009684-4424

# for daemonize
export PATH=/usr/local/sbin:${PATH}
