
eval "$(chef shell-init bash)"

# for chef knife
export VCAIR_API_URL='p3v10-vcd.vchs.vmware.com'
export VCAIR_USERNAME='vcadevops@gmail.com'
export VCAIR_PASSWORD='vca4$DEVOPS'
export VCAIR_ORG=M933009684-4424
