/* navbar */
.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.navbar-default {
    background-color: #66CCFF;
    border-color: #E7E7E7;
}

.center-block {  
      display: block;  
      margin-right: auto;  
      margin-left: auto;  
  width:450px;  
    padding:10px;  
    }  

.highlight {
    border-radius: 4px;
    margin-bottom: 1rem;
}
.highlight pre {
    margin-bottom: 0;
}

/* google fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.learn-more {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    
}

/* font-family: 'PT Sans Narrow', sans-serif; */

