<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    {% include 'flash.html' %}
        <h2>CK Scenario</h2>



<p>



This scenario demonstrates how a developer can create a VM Dev Server on vCloud Air using chef-knife.
<br>

The client workstation is configured with the Chef SDK.
<br>

This example shows the knife commands run from a command line,<br>
 but the same commands can be executed from Jenkins as
part of a build / test automation.
</p>




<div class="highlight"><pre><code class="language-text" data-lang="text">

// Run the following knife command <br>
$ knife vcair server create -VV --ssh-password Password1 --image "Ubuntu Server 12.04 LTS (amd64 20150127)" --customization-script ./add_public_ssh_key.sh --cpus 2 --memory 4096 --node-name klinuxsp --vcair-net "M933009684-4424-default-routed" --no-host-key-verify

// See that the node is now a registered client of the Chef Server
$ knife client list


// Access the node using the generated ip
$ ssh ubuntu@192.168.109.8 

</code></pre></div>
<div>


<p> The plugin will... </p>
 <ol type="1">

<li> Connect to vCloud Air </li>
<li> Create the VM using the vCloud Air API </li>
<li> Start the VM  </li>
<li> SSH into the VM and install the Chef Client </li>
<li> Register the new vm with the Chef Server as a new node </li>
</ol> 
</div>

</code>



</div>
{% endblock %}

