<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    {% include 'flash.html' %}
        <h2>CL1 Scenario</h2>


<div class="col-lg-8">


<p>
<br>
<h4>
This scenario shows how to use the vCloud Air CLI to create a VM running Photon and start the Docker Service.
</h4>

<br>
<br>
<span class="learn-more"> Learn more about the vCloud Air CLI </span>  <br>
<a href="https://github.com/vmware/vca-cli" target="_blank">https://github.com/vmware/vca-cli</a>
<br>
<br>
<br>
<h3>Prerequisites</h3>
<ul>
<li>To run vca-cli, the vca command line interface must be installed on the workstation.</li>
<li>A Photon .iso must be uploaded to a VM and stored in a VDC custom catalog  </li>
<li>The Edge Gateway should be configured to support DNS forwarding, since the Photon OS Network is configured using DHCP.</li>
</ul>
<br>
<br>
 <img src="/static/img/vca_cli.png"/>


<br>


<div class="center-block">
 The vca cli will... 
<br>
<br>
 <ol type="1">

<li> Connect to vCloud Air </li>
<li> Create the VM using the vCloud Air API </li>
<li> Start the VM  </li>
<li> SSH into Photon and start the Docker Service  </li>
</ol>

</div>

<br>
<h3>Commands</h3>

Here are the vca-cli commands necessary to run the scenario.<br>
The same commands can be executed from Jenkins as part of a build / test automation.
<br>
<br>
Click on
<a href="http://devops.vcloudair.io:8100/job/Vca_Cli/" target="_blank"><button type="button">Run the Demo<span class="glyphicon glyphicon-play"></button></a>
<i>to try it. (Login required)</i>
</p>




<pre class="pre-scrollable">
vca login --password $VCA_PASSWORD --host vchs.vmware.com --type subscription --version 5.6 --org M933009684-4424  vcadevops@gmail.com

vca org use --org M933009684-4424 --service M933009684-4424

vca vdc use --vdc M933009684-4424

vca vapp create -a $VAPP_NAME -V $VM_NAME -c 'cf-catalog' -t 'Photon'  -n M933009684-4424-default-routed  -m DHCP

vca vapp power.on --vapp $VAPP_NAME

sleep 5

# Get the IP of the new node

export IP=`vca vm -a $VAPP_NAME | grep $VM_NAME | cut -d '|' -f5 |  tr -d '[[:space:]]'`
  

# ssh into Photon and enable and start Docker
sshpass -e ssh -t -v root@${IP} "systemctl enable docker && systemctl start docker && systemctl status docker"


</pre>
</div>
<div>
{% endblock %}

