<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    {% include 'flash.html' %}
        <h2>CL1 Scenario</h2>



<p>

This scenario uses the vCloud Air CLI to create an Photon VM on vCloud Air.
<br>

The same commands can be executed from Jenkins as part of a build / test automation.
<br>

Installation of a Chef Client is not needed as application containers contain their required config.

</p>

<div class="highlight"><pre><code class="language-text" data-lang="text">

$ export VCA_USER=yourvcauser
$ export VCA_PASSWORD=yourvcapassword

$ vca login $VCA_USER --password $VCA_PASSWORD --host vchs.vmware.com --type subscription --version 5.6 --org M933009684-4424
$ vca org use --org M933009684-4424 --service M933009684-4424
$ vca vdc use --vdc M933009684-4424

$ vca vapp create -a vcaPhoton -V photonNode -c 'cf-catalog' -t 'Photon' -n M933009684-4424-default-routed  -m DHCP
$ vca vapp power.on --vapp vcaPhoton

// get the ip of the new node
$ export IP=`vca vm -a vcaPhoton | grep photonNode | cut -d '|' -f5 |  sed -e 's/^[[:space:]]*//'`

// connect with ssh 
$ ssh root@${IP}


</div>


<p> vca-cli will... </p>
 <ol type="1">

<li> Connect to vCloud Air </li>
<li> Create the VM using the vCloud Air API </li>
<li> Start the VM  </li>
</ol> 

</div>

</code>



</div>
{% endblock %}

