
<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    {% include 'flash.html' %}
        <h3>Installing DevOps Tools on vCloud Air</h2>


<div class="col-lg-8">

<p>
<br>
<br>
<a class="big-link" href="http://vcair.us/docs/install_vca_cli">Installing vca-cli</a>
<br>

The easiest way for a developer to work with vCloud Air is using the vCloud Air CLI.<br>
The instructions in the documents below will use cli commands to complete the steps.<br>
vca-cli is an open source project. Further installation instructions and documentation can be found on github
<a  href="https://github.com/vmware/vca-cli" target="_blank">https://github.com/vmware/vca-cli</a>
<br>
The same actions can be performed using the vCloud Air Portal if desired.
</p>

<br><br>
<p>
<a class="big-link" href="http://vcair.us/docs/setup_ssh">Setting up ssh for vCloud Air</a> <br>
The best setup for Servers running on vCloud Air is to connect using ssh without a password.<br>
This section explains how to do this and shows some other ssh tricks.,br>
<br>
  
<br>
<br>
<a class="big-link" href="http://vcair.us/docs/install_jenkins">Install Jenkins on vCloud Air</a>
<br>
Jenkins is at at the center of most Continuous Integration setups.<br>
This section explains how to install and configure a Jenkins server on vCloud Air </br>
<br>
<br>
<br>

 Installing Chef Server (Coming Soon)
<br>


</p>

</div>
</div>
{% endblock %}
