
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}

<div class="container">
  <h2><b>Use Open Source DevOps tools with VMware vCloud Air.</b></h2>

<b><br>
<p  style="font-size: 18px; width:75%">
This demo shows you how to build devops toolchains on vCloud Air using the open source versions of popular tools.
Open source tools are a great way to learn devops techniques and begin a devops initiative in your organization.
<br>



</p>

<br>
<br>
  <h3>Demo Environment</h3>
  <p>Click on the icon to open the server in another window.</p>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcair.us:8100" target="_blank">
             <img src="/static/img/Jenkins.png" height="90" width="90" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://chef.vcair.us:8200/" target="_blank">
            <img src="/static/img/Chef.png" height="90" width="90" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="https://devops.vcair.us:8300/explore/projects/" target="_blank">
             <img src="/static/img/gitlab.png" height="90" width="180" />
            </a>
    </div>
    <div class="col-sm-2">
    </div>
</div>
  <div class="row top-buffer">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcair.us:4444/wd/hub/static/resource/hub.html" target="_blank">
             <img src="/static/img/Selenium.png" height="70" width="70" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcair.us:8081" target="_blank">
             <img src="/static/img/Artifactory.png" height="90" width="90" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcair.us" target="_blank">
             <img src="/static/img/Ansible.png" height="90" width="90" />
            </a>
  </div>
    <div class="col-sm-2">
    </div>
</div>

<br>
<br>
<br>
<div class="container col-lg-9">
  <h3>Scenarios</h3>
  <p>Click on a Scenario below to view the details.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th bgcolor="#66CCFF">Scenario</th>
        <th bgcolor="#66CCFF">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class='clickableRow' href='{{ url_for('cl1') }}'>
        <td>Photon Server Example</td>
        <td>Create a Photon Server on vCloud Air using vCloud Air CLI</td>
      </tr>
      <tr class='clickableRow' href='{{ url_for('dp1') }}'>
        <td>Docker / Photon Example</td>
        <td>Deploy a docker container on a Photon Server</td>
      </tr>

      <tr class='clickableRow' href='{{ url_for('sp1') }}'>
        <td>Self Provision Corp Std Web Server</td>
        <td>Use chef to configure a Server as a standard Web Server</td>
      </tr>
      <tr class='clickableRow' href='{{ url_for('sb2') }}'>
        <td>Continuous Integration of Spring Boot Form Project</td>
        <td>Spring Boot App in Git, Build / Deploy to existing dev server using Jenkins, Gradle, Chef, test with Selenium</td>
      </tr>
      <tr class='clickableRow' href='{{ url_for('ck1') }}'>
        <td>Chef Knife Plugin</td>
        <td>Create an Ubuntu Server on vCloud Air using the Chef vCloud Air Knife plugin</td>
      </tr>

    </tbody>
  </table>
<br>
<br>
</div>
{% endblock %}
