
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}

<div class="container">
  <h2><b>Use Open Source DevOps tools with VMWare vCloud Air.</b></h2>

<b><br>
<p  style="font-size: 18px; width:75%">
This demo shows you how to build devops processes on vCloud Air using the open source versions of popular tools.
Open source tools are a great way to learn devops techniques and begin a devops initiative in your organization.
<br>

</p>

<br>
<br>
  <h3>Demo Environment</h3>
  <p>Click on the icon to open the server in another window.</p>
  <div class="row">
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcloudair.io:8100" target="_blank">
             <img src="/static/img/Jenkins.png" height="90" width="90" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcloudair.io:8200/" target="_blank">
            <img src="/static/img/Chef.png" height="90" width="90" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="https://github.com/vcadevops" target="_blank">
             <img src="/static/img/Github.png" height="90" width="90" />
            </a>
    </div>
    <div class="col-sm-3">
           <a class="navbar-brand" href="http://devops.vcloudair.io:8081" target="_blank">
             <img src="/static/img/Artifactory.png" height="90" width="90" />
            </a>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="container">
  <h3>Scenarios</h3>
  <p>Click on a Scenario below to view the details.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Scenario</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class='clickableRow' href='{{ url_for('ck1') }}'>
        <td>CK</td>
        <td>Chef Knife Plugin</td>
        <td>Create a VM on vCloud Air using the Chef vCloud Air Knife plugin</td>
      </tr>
      <tr class='clickableRow' href='{{ url_for('cl1') }}'>
        <td>CL1</td>
        <td>vCloud Air CLI Example</td>
        <td>Create a Photon VM on vCloud Air using vCloud Air CLI</td>
      </tr>
      <tr class='clickableRow' href='{{ url_for('dp1') }}'>
        <td>DP1</td>
        <td>Docker / Photon Example</td>
        <td>Deploy a docker container on a Photon Server</td>
      </tr>

      <tr class='clickableRow' href='{{ url_for('sp1') }}'>
        <td>SP1</td>
        <td>Self Provision Corp Std Web Server</td>
        <td>Use chef to configure a VM to be a standard Web Server</td>
      </tr>
      <tr class='clickableRow' href='{{ url_for('sb2') }}'>
        <td>SB2</td>
        <td>Continuous Integration of Spring Boot Form Project</td>
        <td>Spring Boot App in Git, Build / Deploy to existing dev server using Jenkins, Gradle, Chef, test with Selenium</td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}
