<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    {% include 'flash.html' %}
        <h2>Web Server Scenario</h2>


<div class="col-lg-8">


<p>
<br>
<h4>
This scenario demonstrates how a developer can configure an existing Server
to be a corporate standard web server running nginx. 
</h4>
<br>
<br>
<span class="learn-more"> Learn more about VMWare & Chef </span> <br>
<a href="https://www.chef.io/solutions/vmware/" target="_blank">https://www.chef.io/solutions/vmware/</a>
<br>
<br>
<br>
<h3>Prerequisites</h3>
<ul>
<li>The client workstation is configured with the Chef SDK.</li>
<li>The Corporate Chef Server has a web-server role definition. </li>
</ul>
<br>
<br>
 <img src="/static/img/sp1.png"/>


<br>


<div class="center-block">
 The plugin will... 
<br>
<br>
 <ol type="1">

<li> SSH into the VM and install the Chef Client </li>
<li> Assign a run list to the node 
<li> Run the chef client to register the new vm with the Chef Server and configure the vm based on the assigned runlist </li>
</ol>

</div>

<br>
<h3>Commands</h3>

Here are the knife commands necessary to run the scenario.<br>
The same commands can be executed from Jenkins as part of a build / test automation.
<br>
<br>
Click on
<a href="http://devops.vcloudair.io:8100/job/docker_photon/" target="_blank"><button type="button">Run the Demo<span class="glyphicon glyphicon-play"></button></a>
<i>to try it. (Login required)</i>
</p>




<pre class="pre-scrollable">

// Bootstrap node with chef client and set node role

$ knife bootstrap 192.168.109.8 -x ubuntu --sudo --run-list  'role[web_server]'

// Get the ip for the chef node
export NIP=`knife node show klinuxchef | grep IP: | cut -d: -f2 | sed -e 's/^[[:space:]]*//'`

// create a port mapping to the app
$ ssh ubuntu@devops "sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 8900 -m conntrack --ctstate NEW -j DNAT --to ${NIP}:80"

// access the webserver with a browser
http://devops.vcloudair.io:8900/

</pre>

</br>
</div>
</div>
{% endblock %}

