<!-- extend base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    {% include 'flash.html' %}
        <h2>SP1 Scenario</h2>

<p>

This scenario demonstrates how a developer can configure an existing VM Server <br>
to be a corporate standard web server running nginx.
<br>

<br>
The client workstation is configured with the Chef SDK.
<br>
The Corporate Chef Server has a web-server role definition.
<br>

 <img src="/static/img/sp1.png"/>


<div class="highlight"><pre><code class="language-text" data-lang="text">


// Starting with a Vm named klinuxsp running at 192.168.109.8

// list the chef known clients
$ knife client list

// Assign the web_server role to the running VM
knife exec -E 'nodes.transform("name:klinuxsp") {|n| n.run_list(["role[web_server]"])}'

// create a port mapping to the app 
$ ssh ubuntu@devops "sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 8900 -m conntrack --ctstate NEW -j DNAT --to 192.168.109.8:80"

// access the webserver with a browser
http://devops.vcloudair.io:8900/

// ssh to the node
$ ssh ubuntu@192.168.109.8


</code></pre></div>
<div>



</div>
{% endblock %}

