<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Login using vca-cli r13 onDemand
vca login  appstech@websterx.com --password ${VCA_PASSWORD} --instance &apos;97453e02-e83c-4cae-bbe9-3f7ee6dd8401&apos; 
vca vdc use --vdc DevOps-VDC

if [[ $(vca vapp list | cut -d&apos;|&apos; -f2 | grep vApp1) ]]
then
  vca vapp delete -a vApp1
fi

if [[ $(vca vapp list | cut -d&apos;|&apos; -f2 | grep vApp2) ]]
then
  vca vapp delete -a vApp2
fi

if [[ $(vca vapp list | cut -d&apos;|&apos; -f2 | grep vApp3) ]]
then
  vca vapp delete -a vApp3
fi

if [[ $(vca vapp list | cut -d&apos;|&apos; -f2 | grep vApp4) ]]
then
  vca vapp delete -a vApp4
fi

if [[ $(vca vapp list | cut -d&apos;|&apos; -f2 | grep vApp5) ]]
then
  vca vapp delete -a vApp5
fi

echo &quot;=&gt; Removed demo Test Servers&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@1.92.1">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>VCA_PASSWORD</name>
          <value>EKvLs32P7c4qvfTpgrv8mxcTFP3XIRlUtDxD/WKvR6M=</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>