<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/vcadevops/springBootHelloWorld.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.gradle.Gradle plugin="gradle@1.24">
      <description></description>
      <switches>-Pbuildversion=$BUILD_NUMBER</switches>
      <tasks>clean assemble</tasks>
      <rootBuildScriptDir></rootBuildScriptDir>
      <buildFile></buildFile>
      <gradleName>Gradle_2.3</gradleName>
      <useWrapper>false</useWrapper>
      <makeExecutable>false</makeExecutable>
      <fromRootBuildScriptDir>true</fromRootBuildScriptDir>
      <useWorkspaceAsHome>false</useWorkspaceAsHome>
    </hudson.plugins.gradle.Gradle>
    <hudson.tasks.Shell>
      <command># Call the Chef Client on the dev server to Config the Server
knife ssh 192.168.109.7 &apos;sudo chef-client&apos; --manual-list --ssh-user ubuntu -i ~/.ssh/ubuntu_rsa --no-host-key-verify

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Move the executable
scp -o StrictHostKeyChecking=no /var/lib/jenkins/jobs/helloWorld/workspace/build/libs/gs-spring-boot-0.1.0.jar ubuntu@192.168.109.7:~
ssh ubuntu@192.168.109.7 chmod +x gs-spring-boot-0.1.0.jar 

# Stop the App if a previous version is running
ssh --no-host-key-verify  ubuntu@192.168.109.7 export JPID=`netstat -plnt | grep 8080 | awk &apos;{print $7}&apos; | cut -d/ -f1`; if [[ -n $JPID ]]; then kill $JPID; fi

# Start the App
ssh --no-host-key-verify  ubuntu@192.168.109.7 &quot;nohup java -jar ~/gs-spring-boot-0.1.0.jar &gt; log.out 2&gt; log.err &lt; /dev/null &amp;&quot;

# Test with wget
wget http://192.168.109.7:8080
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
